{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block main %}
    <section>  
        <div class="container">
            <div class="row">
                <div class = "col-12">
                    <h1>Checkout</h1>
                    <p>
                        Thank you for your Details. Please move forward to complete the order. Thank you! 
                    </p>
                </div>
            </div>
            <div class="row">
                <div class = "col-6">
                    {{wtf.quick_form(form)}}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
